<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Скоро...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav style="text-align:center; margin-bottom:25px;">
        <a href="/">Главная</a> |
        <a href="/about">О сайте</a> |
        <a href="/projects">Проекты</a> |
        <a href="/contact">Контакты</a>
    </nav>

    <div class="container section-light">
        <h1>Скоро 🚀</h1>
        <p>Этот проект ещё в разработке. Следите за обновлениями!Слава РДК!</p>
        <p><a href="/projects">← Назад к проектам</a></p>
    </div>
</body>
</html>
